@media screen and (max-width: 728px) {
  .layout-project {

    .parallax.first h1 {
      font-size: 52px;
    }

    .section-presentation {
      height: 100%;
      padding: 10vh 0;
    }

    .parallax.third a span {
      display: none;
    }

    .section-photos, .section-photos-cta {
      flex-direction: column;
      width: 100%;
      height: 100%;
      margin-left: 0;
  
      .photo-left, .photo-right,
      .photo-left-cta, .photo-right-cta {
        width: 100%;
  
        img {
          height: auto;
          width: 100%;
          margin: 0;
        }
      }

      .photo-right img, .photo-center img {
        display: none;
      }
    }
  }

  footer {
    text-align: center;
    width: calc(100% - 40px) !important;
    margin: 0 20px 20px 20px;
  }
}