$dark-green: #14292f;
$light-green: #225b68;

header {
  display: flex;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 13vh;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  animation: 1s fadeInHome;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;

  a {
    color: #fff;
    text-decoration: none;
  }

  .logo-link {
    border: 1px solid rgba(255,255,255,0.5);
    padding: 12px;
    font-size: 14px;
    letter-spacing: 2px;
    opacity: 1;
    font-weight: 900;
    text-transform: uppercase;
    margin-left: 2vw;
    cursor: pointer;
  }

  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    margin-right: 2vw;
    text-transform: uppercase;
    letter-spacing: 3px;

    .underline {
      margin-top: 5px;
      border-top: 1px solid transparent;
      width: 0px;
    }

    &:hover {
      .underline {
        border-top: 1px solid #fff;
        animation: 1s underline;
        animation-fill-mode: forwards;
      }
    }
  }
}

.transition-on {
  animation: 2s fadeInHome;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes fadeInHome {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes overlaySlide {
  from {
    height: 0%;
    bottom: 0%;
  }
  50% {
    height: 100%;
    bottom: 0%;
  }
  to {
    height: 0%;
    bottom: 100%;
  }
}

@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 50px;
  }
}