$dark: #1b1b23;

.section-contact {
  position: relative;
  z-index: 3;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .fourth-section {
    opacity: 0;
    margin-left: 20vw;

    h2 { 
      margin-bottom: 0px;
      font-size: 42px;
      font-weight: 400;
    }
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  .btn-contact {
    height: 45px;
    position: relative;
    z-index: 3;
    width: 150px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 13px;
    white-space: nowrap;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 2vw;
    cursor: pointer;
    background-color: transparent;
    font-weight: 900;
    margin: 25px 0 30px 0;
    font-family: "Playfair Display", sans-serif;
    transition: 1s color ease;

    &:hover {
      a {
        color: $dark;
      }
      
      .btn-background {
        display: block;
        animation: 0.5s backgroundCover;
        animation-fill-mode: forwards;
      }
    }

    .btn-background {
      position: absolute;
      display: none;
      height: 100%;
      width: 100%;
      z-index: -2;
      left: 0;
      background-color: #fff;
    }
  }
}

@keyframes backgroundCover {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes backgroundUncover {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
