$dark: #0d1319;

nav {
  position: absolute;
  right: 0;
  width: 40vw;
  height: 100vh;
  background-color: $dark;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;
  z-index: 3;
  box-shadow: -5px 5px 70px rgba(0,0,0,0.7);

  .underline {
    margin-top: 5px;
    border-top: 1px solid transparent;
    width: 0px;
  }

  .close-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    top: 40px;
    right: 25px;
    cursor: pointer;
    transition: 0.5s color ease;

    &:hover {
      .underline {
        border-top: 1px solid #fff;
        animation: 1s underline;
        animation-fill-mode: forwards;
      }
    }
  }

  .list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15%;
    height: 85%;
    width: 70%;
    
    .list-menu-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-size: 24px;
      font-style: italic;
      margin-bottom: 35%;
      text-transform: uppercase;
      letter-spacing: 3px;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        .underline {
          border-top: 1px solid #fff;
          animation: 1s underline;
          animation-fill-mode: forwards;
        }
      }
    }
  }
}

.menu-overlay {
  position: absolute;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
}

@media screen and (max-width: 728px) {
  nav {
    width: 60vw;

    .list-wrapper .list-menu-item {
      font-size: 16px;
    }
  }
}

@keyframes slideFromRight {
  from { 
    width: 0%;
  }
  to { 
    width: 40vw;
  }
}

@keyframes slideBack {
  from { 
    width: 40vw;
  }
  50% { width: 40vw; }
  to { 
    width: 0%;
  }
}

@keyframes fadeInText {
  from { 
    opacity: 0;
  }
  50% { opacity: 0; }
  to { 
    opacity: 1;
  }
}

@keyframes fadeOutText {
  from { 
    opacity: 1;
  }
  to { 
    opacity: 0;
  }
}