$dark: #0d1319;

.menu-wrapper {
  position: fixed; 
  overflow-y: scroll;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 999;
}

.layout-home {
  .overlay-loading {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-color: $dark;
    z-index: 999;
    color: #fff;
    animation: 3s overlayFadeOut;
    animation-fill-mode: forwards;

    .logo-link {
      font-size: 36px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    .underline {
      margin-top: 5px;
      width: 0px;
      border-top: 1px solid #fff;
      animation: 1.5s overlayUnderline;
      animation-fill-mode: forwards;
    }
  }

  .parallax {
    width: 100vw;

    &.first { 
      background-image: url("/aerials-hor-2.jpg");
      height: 70vh;
      background-size: cover !important;
    }

    &.second { 
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("/portraits-hor-1.jpg");
      background-size: cover !important;
      height: 95vh;

      .btn-contact {
        position: relative;
        height: 55px;
        width: 240px;
        z-index: 2;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(255, 255, 255, 0.5);
        font-size: 13px;
        white-space: nowrap;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-left: 2vw;
        cursor: pointer;
        background-color: transparent;
        color: #fff;
        font-weight: 900;
        margin: 25px 0 30px 0;
        font-family: "Playfair Display", sans-serif;
        transition: 1s color ease;

        span { z-index: 1; }
    
        &:hover {
          color: $dark;
    
          .btn-background {
            display: block;
            animation: 0.5s backgroundCover;
            animation-fill-mode: forwards;
          }
        }
    
        .btn-background {
          position: absolute;
          display: none;
          height: 100%;
          width: 100%;
          z-index: 0;
          left: 0;
          background-color: #fff;
        }
      }
    }
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
    font-size: 12px;
    color: #fff;
    opacity: 0.8;
  }
}

@keyframes overlayFadeOut {
  from {
    opacity: 1;
    z-index: 999;
  }
  80% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    z-index: 999;
  }
  to {
    opacity: 0;
    z-index: -999;
  }
}

@keyframes overlayUnderline {
  from { width: 0%; }
  to { width: 100%; }
}

@keyframes backgroundCover {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
