$dark: #1b1b23;
$light: #4f4d5d;

.layout-home {
  .overlay-loading {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-color: $dark;
    z-index: 3;
    color: $light;
    animation: 3s overlayFadeOut;
    animation-fill-mode: forwards;

    .logo-link {
      font-size: 36px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    .underline {
      margin-top: 5px;
      width: 0px;
      border-top: 1px solid $light;
      animation: 1.5s overlayUnderline;
      animation-fill-mode: forwards;
    }
  }

  .parallax {
    &.first { 
      background-image: url("/golden-peaks.webp");
      height: 70vh;
    }

    &.second { 
      background-image: url("/wild-west.webp");
      height: 95vh;
    }
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
    font-size: 14px;
    color: #b5b5d8;
  }
}

@keyframes overlayFadeOut {
  from {
    opacity: 1;
    z-index: 999;
  }
  80% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    z-index: 999;
  }
  to {
    opacity: 0;
    z-index: -999;
  }
}

@keyframes overlayUnderline {
  from { width: 0%; }
  to { width: 100%; }
}
