$dark-green: #14292f;
$light-green: #225b68;

.overlay-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $dark-green;
  z-index: 5;
  animation: 2s overlaySlide;
  animation-fill-mode: forwards;
}

.portfolio-gallery {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 4;
  background-size: cover;
  background-position: center;
  color: #fff;
  font-weight: 900;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: #000;
  opacity: 0;
  animation: 0.1s fadeInHome;
  animation-delay: 1s;
  animation-fill-mode: forwards;

  .close-container{
    position: absolute;
    top: 7px;
    right: 13px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 999;
  }
  
  .leftright{
    height: 4px;
    width: 40px;
    position: absolute;
    margin-top: 24px;
    background-color: #fff;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
  }
  
  .rightleft{
    height: 4px;
    width: 40px;
    position: absolute;
    margin-top: 24px;
    background-color: #fff;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
  }
  
  label {
    color: #fff;
    font-family: Helvetica, Arial, sans-serif; 
    font-size: .6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .3s ease-in;
    opacity: 0;
  }

  .close{
    margin: 50px 0 0 0;
    position: absolute;
    font-size: 9px;
  }
  
  .close-container:hover .leftright{
    transform: rotate(-45deg);
    background-color: #fff;
  }
  .close-container:hover .rightleft{
    transform: rotate(45deg);
    background-color: #fff;
  }
  .close-container:hover label{
    opacity: 1;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    height: 33.33%;
    cursor: pointer;
    opacity: 0;
    animation: 2s fadeInHome;
    animation-fill-mode: forwards;
    text-decoration: none;
    color: #fff;
  }
}

header {
  display: flex;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 13vh;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  animation: 1s fadeInHome;
  animation-fill-mode: forwards;
  animation-delay: 8s;

  .logo-link {
    border: 1px solid rgba(255,255,255,0.5);
    padding: 10px 15px;
    font-size: 13px;
    letter-spacing: 2px;
    opacity: 1;
    font-weight: 900;
    text-transform: uppercase;
    margin-left: 5vw;
    cursor: pointer;
  }

  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 3px;

    .underline {
      margin-top: 5px;
      border-top: 1px solid transparent;
      width: 0px;
    }

    &:hover {
      .underline {
        border-top: 1px solid #fff;
        animation: 1s underline;
        animation-fill-mode: forwards;
      }
    }
  }
}

.transition-on {
  animation: 2s fadeInHome;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes fadeInHome {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes overlaySlide {
  from {
    height: 0%;
    bottom: 0%;
  }
  50% {
    height: 100%;
    bottom: 0%;
  }
  to {
    height: 0%;
    bottom: 100%;
  }
}

@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 50px;
  }
}