$dark-green: #14292f;
$light-green: #225b68;

.overlay-loading {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $dark-green;
  z-index: 2;
  color: $light-green;
  animation: 3s overlayFadeOut;
  animation-delay: 5s;
  animation-fill-mode: forwards;

  .logo-link {
    font-size: 72px;
    letter-spacing: 2px;
    font-weight: 900;
    text-transform: uppercase;
  }

  .underline {
    margin-top: 5px;
    width: 0px;
    border-top: 1px solid $light-green;
    animation: 5s overlayUnderline;
    animation-fill-mode: forwards;
  }
}

.overlay-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $dark-green;
  z-index: 4;
  animation: 2s overlaySlide;
  animation-fill-mode: forwards;
}

.portfolio-gallery {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 3;
  background-size: cover;
  background-position: center;
  color: #fff;
  font-weight: 900;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: #000;
  opacity: 0;
  animation: 0.1s fadeInHome;
  animation-delay: 1s;
  animation-fill-mode: forwards;

  .close-container{
    position: absolute;
    top: 7px;
    right: 13px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 999;
  }
  
  .leftright{
    height: 4px;
    width: 40px;
    position: absolute;
    margin-top: 24px;
    background-color: #fff;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
  }
  
  .rightleft{
    height: 4px;
    width: 40px;
    position: absolute;
    margin-top: 24px;
    background-color: #fff;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
  }
  
  label {
    color: #fff;
    font-family: Helvetica, Arial, sans-serif; 
    font-size: .6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .3s ease-in;
    opacity: 0;
  }

  .close{
    margin: 50px 0 0 0;
    position: absolute;
    font-size: 9px;
  }
  
  .close-container:hover .leftright{
    transform: rotate(-45deg);
    background-color: #fff;
  }
  .close-container:hover .rightleft{
    transform: rotate(45deg);
    background-color: #fff;
  }
  .close-container:hover label{
    opacity: 1;
  }

  .portfolio-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    height: 33.33%;
    cursor: pointer;
    opacity: 0;
    animation: 2s fadeInHome;
    animation-fill-mode: forwards;
  }
}

header {
  display: flex;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 13vh;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  animation: 1s fadeInHome;
  animation-fill-mode: forwards;
  animation-delay: 8s;

  .logo-link {
    border: 1px solid rgba(255,255,255,0.5);
    padding: 10px 15px;
    font-size: 13px;
    letter-spacing: 2px;
    opacity: 1;
    font-weight: 900;
    text-transform: uppercase;
    margin-left: 5vw;
    cursor: pointer;
  }

  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 3px;

    .underline {
      margin-top: 5px;
      border-top: 1px solid transparent;
      width: 0px;
    }

    &:hover {
      .underline {
        border-top: 1px solid #fff;
        animation: 1s underline;
        animation-fill-mode: forwards;
      }
    }
  }
}

.hero-scene {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  color: #fff;

  .overline {
    background: rgba(0,0,0,0.2);
    padding: 0 10px;
    font-weight: 900;
  }

  .title {
    position: absolute;
    z-index: 1;
    font-size: 42px;
    opacity: 0;
    animation: 2s fadeInHome;
    animation-fill-mode: forwards;
    animation-delay: 7s;
    width: 60%;
    text-align: center;
  }

  i {
    position: absolute;
    z-index: 1;
    font-size: 24px;
    animation: 2s cursorTap infinite;
    border-radius: 50%;
    background: rgba(0,0,0,0.2);
    padding: 18px 25px;
  }
}

.section-presentation {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .presentation-left {
    width: 25%;
    font-size: 42px;
    text-align: right;
    opacity: 0;
    font-weight: 900;
    line-height: 42px;
  }

  .presentation-center {
    width: 50%;
    border-left: 1px solid gray;
    padding-left: 40px;
    opacity: 0;
  }

  .presentation-right {
    width: 50%;
    opacity: 0;

    .separator {
      width: 50px;
      border-top: 1px solid gray;
      margin-bottom: 10px;
    }
  }
}

.section-photos {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60vh;
  width: 60%;
  margin-left: 35%;
  margin-bottom: 25vh;

  .photo-left, .photo-right {
    width: 50%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;

    img { 
      height: 100%;
      width: auto;
      opacity: 0;
    }
  }

  .photo-right {
    img { margin-left: 10%; }
  }
}

.parallax {
  /* Set the image used and a specific height */
  &.first { 
    background-image: url("/golden-peaks-min.jpg");
    height: 70vh;
  }
  &.second { 
    background-image: url("/wild-west-min.jpg");
    height: 95vh;
    margin-bottom: 20px;
  }
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 10vh;
  font-size: 12px;
  height: 40px;
}

.transition-on {
  animation: 2s fadeInHome;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes overlayFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes overlayUnderline {
  from { width: 0%; }
  10% { width: 5% }
  30% { width: 50% }
  90% { width: 70% }
  to { width: 100%; }
}

@keyframes cursorTap {
  from {
    bottom: 6.5vh;
  }
  20% {
    bottom: 5vh;
  }
  40% {
    bottom: 6.5vh;
  }
  60% {
    bottom: 5vh;
  }
  80% {
    bottom: 6.5vh;
  }
  to {
    bottom: 6.5vh;
  }
}

@keyframes fadeInHome {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 50px;
  }
}

@keyframes overlaySlide {
  from {
    height: 0%;
    bottom: 0%;
  }
  50% {
    height: 100%;
    bottom: 0%;
  }
  to {
    height: 0%;
    bottom: 100%;
  }
}