body {
  margin: 0;
  font-family: "Playfair Display", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0d1319;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, *::after, *::before {
  outline: none;
}

::selection {
  background: #0d1319;
  color: #fff;
}
