.hero-scene {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  color: #fff;

  video { z-index: -2; }

  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
  }

  .overline {
    text-decoration: underline;
  }

  .title-big {
    font-size: 90px;
    line-height: 70px;
    font-style: italic;
  }

  .hero-scene-img {
    position: absolute;
    right: 0;
    bottom: 30vh;
    width: 20vw;
    height: 0vh;
    z-index: 1;
    background-image: url("/wild-west-vert-2.jpg");
    background-attachment: fixed;
    background-position: right;
    background-size: contain;
    animation: 1s expandUp;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
  }

  .title {
    position: absolute;
    z-index: 1;
    font-size: 48px;
    line-height: 48px;
    margin-left: 20vw;
    opacity: 0;
    animation: 2s fadeInHome;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    width: 50vw;
    text-align: left;
    text-transform: uppercase;
  }

  i {
    position: absolute;
    z-index: 1;
    font-size: 24px;
    animation: 2s cursorTap infinite;
    border-radius: 50%;
    background: rgba(0,0,0,0.2);
    padding: 18px 25px;
    margin-left: 2vw;
    cursor: pointer;

    &.fa-instagram {
      right: 2vw;
      padding: 18px 20px;
      animation: none;
      bottom: 5vh;
      transition: 2s all ease;

      &:hover { bottom: 7vh; }
    }
  }
}

@media screen and (max-width: 728px) {
  .hero-scene {
    .title {
      margin-left: 10vw;
      line-height: 32px;
      font-size: 21px;
      width: 80%;
    }

    .title-big {
      font-size: 52px;
      line-height: 45px;
    }
    
    .hero-scene-img {
      display: none;
    }
  }
}

@keyframes cursorTap {
  from {
    bottom: 6.5vh;
  }
  20% {
    bottom: 5vh;
  }
  40% {
    bottom: 6.5vh;
  }
  60% {
    bottom: 5vh;
  }
  80% {
    bottom: 6.5vh;
  }
  to {
    bottom: 6.5vh;
  }
}

@keyframes fadeInHome {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes expandUp {
  from {
    height: 0;
  }
  to {
    height: 40vh;
  }
}