.section-paragraph {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .paragraph-center {
    border-left: 1px solid gray;
    padding-left: 40px;
    opacity: 0;
    line-height: 32px;
    margin: 20vw;
    text-align: justify;
  }
}

@media screen and (max-width: 728px) {
  .section-paragraph {
    height: 100%;

    .paragraph-center {
      border-left: 0px;
      padding-left: 0;
      line-height: 24px;
      font-size: 14px;
    }
  }
}
